<section>
  <h2>設定</h2>
  
  <div>
    <ul>
      <li><%= link_to"アカウント", "/users/account" %></li>
      <li><%= link_to"プロフィール", "/users/profile" %></li>
    </ul>
  </div>
  <div class = "account-header">
    <h3>アカウント</h3>
    <a>編集</a>
  </div>
  <div>
    <div>メールアドレス</div>
    <p></p>
  </div>
  <div>
    <div>パスワード</div>
    <p>*********</p>
  </div>
</section>
